[submodule "themes/ezhil"]
	path = themes/ezhil
	url = https://github.com/vividvilla/ezhil.git
[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "public"]
	path = public
	url = https://github.com/sachinsu/sachinsu.github.io.git
	branch = master
[submodule "themes/hello-friend-ng"]
	path = themes/hello-friend-ng
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng.git
[submodule "mainroad"]
	path = mainroad
	url = https://github.com/vimux/mainroad
[submodule "themes\\mainroad"]
	path = themes\\mainroad
	url = https://github.com/vimux/mainroad
